*{
    font-family: "Inter", sans-serif;
}
header{
    background-color: #d1b4cf;
}
.nav-item a{
    color: #6f2a6d;
}
#boton-perfil{
    background-color: #6f2a6d;
}
.nav-item a:hover{
    color: #f5e7f5;
}
#app{
    color: #b776b6;
}
.boton-cv{
    background-color: #6f2a6d;
    color: #f5e7f5;
}
.caja-habilidades{
    background-color: #f5e7f5;
}
.btn-proyecto{
    background-color: #b776b6;
}
#btn-a{
    text-decoration: none;
    color: #f5e7f5;
}
#contacto{
    background-color: #b094ae;
    color: #ffffff;
}
footer li a i{
    color: #935092;
}
footer p a{
    text-decoration: none;
    color: #d79fd7;
}